body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #00ff37;
    background: url(https://eskipaper.com/images/sneakers-background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }

    h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    }

    #container {
      width:1279px;
      margin:auto;
      margin-top:50px;
    }

    #form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
    
    .sneaker-card{
      float:left;
      width:393px;
      height: 555px;
      background-color: rgb(255, 0, 0);
      color: #00ff37;
      margin:15px;
      text-align: center;
    }
    .center-text {
      text-align: center;
    }